<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.elk.search.dao.ConvertMapper">
    <insert id="convertToPoint" parameterType="com.study.elk.search.dto.ConvertDto">
        INSERT INTO convert_cash_to_point (user_seq, request_cash, convert_point, point_exchanges_date, point_exchanges_status)
        VALUES (#{userSeq}, #{userRequestCash}, #{userPoint}, default, default)
    </insert>

    <select id="findCovertUserInfo" parameterType="map" resultType="com.study.elk.search.dto.UserConvertInfoDto">
        select * from convert_cash_to_point where user_seq = #{userSeq} and convert_cash_to_point_id = #{convertSeq} and point_exchanges_status = 0;
    </select>

    <select id="FindUserByAmount" resultType="int">

    </select>

    <select id="FindUserByPoint" resultType="int">

    </select>

    <update id="userDepositUpdate" parameterType="map">
        UPDATE deposit
        SET amount = amount - #{amountDecrement},
        point = point + #{pointIncrement}
        WHERE user_seq = #{userSeq}
        AND amount >= #{amountDecrement}
        AND user_seq IN (SELECT user_seq FROM (SELECT d.user_seq FROM users u JOIN deposit d ON u.user_seq = d.user_seq) AS temp);
    </update>

    <update id="userRequestConvertSuccess" parameterType="int">
        UPDATE convert_cash_to_point
        SET point_exchanges_status = 1
        WHERE convert_cash_to_point_id = #{convertSeq};
    </update>

    <update id="adminDepositUpdate" parameterType="int">
        update admin set admin_cash = admin_cash + ${cash};
    </update>

</mapper>